<footer id="footer-id">

   <div class="footer-wrapper">
    
       <div class="container">
       
           <div class="footer-row row">
           
               <div class="footer-col col-sm-12 col-md-6">
                    <h3>Company Info</h3>
                   <p><strong>Working Hours: </strong>00:00 - 24:00 (Every Day)</p>
                   <p><strong>Contact Phone: </strong>061 - 639 - 6485</p>
                   <p><strong>Support Email: </strong>support@buytonight.com</p>
               </div>
               <div class="footer-social footer-col col-sm-12 col-md-6">
               <h3>Our Social Contacts</h3>
                   <a href="https://www.facebook.com/Ammmce" target="_blank">
                        <img class="social-img img-fluid rounded" src="/images/icons/fb.png"></a>
                   <a href="https://www.youtube.com/channel/UC6Db2Mo4KLQGwRlv4ZihzUA?view_as=subscriber" target="_blank">
                       <img class="img-fluid rounded" src="/images/icons/in.png"></a>
                   <a href="https://twitter.com/HighSerendipity" target="_blank">
                       <img class="img-fluid rounded" src="/images/icons/sn.png"></a>
                   <a href="https://plus.google.com/114556458888646673961" target="_blank">
                       <img class="img-fluid rounded" src="/images/icons/tw.png"></a>
                
               </div>
           
           </div>
           <div class="row">
            <div class="col-sm-12">
                
                <p>Powered by Amel Muminovic</p>
                
               </div>
           </div>
       
       </div>
       
    
    </div>

</footer>

