<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="/">Buy Tonight</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <div class="navbar-nav">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/about">About</a>
              <a class="nav-item nav-link" href="/profile">Profile</a>
              <a class="nav-item nav-link" href="/products">Products</a>
              <a class="nav-item nav-link" href="/add-product">Add Item</a>
             
        </div>
        <div class="navbar-nav">
            <form class="form-inline pull-xs-right ">
            <a class="nav-item nav-link" href="/login">Login</a>
               <a class="nav-item nav-link" href="#">/</a>
              <a class="nav-item nav-link" href="/signup">Register</a>
                
                
                
            </form>
        </div>
      </div>    
</nav>