<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/custom.css">

<title>Buy Tonight</title>
</head>
<body>
 
 <% include partials/navbar.ejs %>
    
    <div class="container wrapper">
        <div class="row">
            <div class="col-lg-12">  
                
                <h1>Add a new product!</h1>  
                    <form class="registerForm" method="post">
                
                    <div class="form-group">
                        <label class="custom-label" for="name">Name of product:</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label class="custom-label" for="description">Description of product:</label>
                        <input type="text" class="form-control" name="description" required>
                    </div>
                    <div class="form-group">
                        <label class="custom-label" for="price">Price of product:</label>
                        <input type="text" class="form-control" name="price" required>
                    </div>
                    
                    <div class="form-group">
                            <h3>Category of product:</h3>
                        <div class="add-product-checkboxes">
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="category" value="Food"> Food</label>
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="category" value="Drinks"> Drinks</label>
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="category" value="Grocery"> Grocery</label>
                           <label class="input-gr">
                            <input type="radio" class="form-control" name="category" value="Electronics"> Electronics</label>
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="category" value="Home"> Home</label>
                            
                         </div>
                    </div>
                    <div class="form-group">
                            <h3>Store</h3>
                        <div class="add-product-checkboxes">
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="store" value="Rolex"> Rolex</label>
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="store" value="Furna"> Furna</label>
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="store" value="Hamza Doner"> Hamza Doner</label>
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="store" value="AMC"> AMC</label>
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="store" value="JYSK"> JYSK</label>
                            <label class="input-gr">
                            <input type="radio" class="form-control" name="store" value="Other"> Other</label>
                         </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="custom-label" for="category">URL of image (.jpg/.png):</label>
                        <input type="text" class="form-control" name="image" required>
                    </div>
                
                    <button type="submit" class="btn btn-success btn-lg">Add a product</button>
                </form>       
            </div>          
        </div>
    </div>


    
    
 <% include partials/footer.ejs %>     

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="/js/custom.js"></script>

</body>

</html>