<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/custom.css">

<title>Buy Tonight</title>
</head>
<body>
 
 <% include partials/navbar.ejs %>
    
    
    <div class="container">
        <div class="row">
           <div class="col-xs-12">
            
                <h1> Edit profile</h1>
               
               <form method="post">
               
                <input type="text" name="name" value="<%= user.local.name || user.facebook.name %>"> 
                
               <div class="form-group">
                        <h3>Is Admin:</h3>
                    <div class="btn-group" data-toggle="buttons">
                         <label class="btn btn-primary ">
                        <input type="radio" name="isAdmin" autocomplete="off"  value="true"> Yes </label>
                        <label class="btn btn-primary active">
                        <input type="radio" name="isAdmin"  autocomplete="off" value="false" checked> No</label>
                    </div>
                     </div>
                   
                   <button type="submit" class="btn btn-success">Update User</button>
                </form>
            
            </div>
        </div>
    </div>


    
    
 <% include partials/footer.ejs %>     

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>

</body>

</html>