.wrapper{
    text-align: center;
    color: red;
}

.product-pics{
    width: 100%;
    
}

.fa-shopping-cart , .badge{
    color: rgba(255,255,255,.5);
}


a.fa-shopping-cart:hover{
    color: #facbcb;
    text-decoration: none;
}






